@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='light'] {
    --backgroundcolor: rgba(255, 160, 170, 0.3);
    --itembgcolor: white;
    --textcolormain: black;
    --hellosvgcolor: rgba(255, 159, 175, 1);
    --primarycolor1: rgba(255, 148, 216, 1);
    --primarycolor2: rgba(255, 171, 126, 1);
    --gradientcolor1: rgba(255, 171, 123, 1);
    --gradientcolor2: rgba(255, 146, 224, 1);
    --twittercolor: rgba(255, 171, 126, 1);
    --linkedincolor: rgba(255, 148, 216, 1);
    --mailcolor: rgba(255, 160, 169, 1);
    --navbaractive: rgba(255, 171, 126, 1);
    --navbarhover: rgba(255, 171, 126, 0.5);
    --navbarnormal: rgba(72, 72, 72, 0.3);
    --sectionheadingcolor: rgba(255, 171, 126, 0.8);
    --bgcolorprogressbar: rgba(217, 217, 217, 1);
    --topicheadingcolor: rgba(255, 157, 181, 1);
  }

  html[data-theme='dark'] {
    --backgroundcolor: rgba(72, 72, 72, 1);
    --itembgcolor: rgba(114, 114, 114, 1);
    --textcolormain: white;
    --hellosvgcolor: rgba(255, 242, 123, 1);
    --primarycolor1: rgba(255, 242, 123, 1);
    --primarycolor2: rgba(92, 238, 229, 1);
    --gradientcolor1: rgba(255, 242, 123, 1);
    --gradientcolor2: rgba(92, 238, 229, 1);
    --twittercolor: rgba(92, 238, 229, 1);
    --linkedincolor: rgba(255, 242, 123, 1);
    --mailcolor: rgba(215, 255, 129, 1);
    --navbaractive: rgba(255, 242, 123, 1);
    --navbarhover: rgba(72, 72, 72, 1);
    --navbarnormal: rgba(72, 72, 72, 0.6);
    --sectionheadingcolor: rgba(255, 242, 123, 1);
    --bgcolorprogressbar: rgba(217, 217, 217, 1);
    --topicheadingcolor: rgba(165, 255, 244, 1)
  }
}